﻿

@{
    ViewBag.Title = "Transferencia fallida";

}

<h1>@ViewBag.ErrorMessage</h1>



<h3>Detalles</h3>

<div class="alert alert-info">
    <hr />

    <p>@ViewBag.ExceptionMessage</p>
</div>


<a class="btn btn-primary" asp-action="Index" asp-controller="Home">
    Volver a Inicio
</a>

