﻿@model cajero.Models.Pullout

@{
    ViewData["Title"] = "Nuevo Retiro";
}

<h1>Nueva Transaccion</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cash" class="control-label"></label>
                <input asp-for="Cash" class="form-control" />
                <span asp-validation-for="Cash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Retirar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-primary" asp-action="Index">Volver al historial</a>
    <br />
    <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
