﻿@model IEnumerable<cajero.Models.Pullout>

@{
    ViewData["Title"] = "Nuevo Retiro";
}

<h1 class="display-4">Retiros</h1>
<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>


            </tr>
        }
    </tbody>
</table>

<p>
    <br />
    <a class="btn btn-primary" asp-action="Create">Nuevo retiro</a>
    <br />
</p>