﻿@model IEnumerable<cajero.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Informacion de Cuenta</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>


            </tr>
        }
    </tbody>
</table>


