﻿@{
    ViewData["Title"] = "Home Page";
}


@using Microsoft.AspNetCore.Identity
@using cajero.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!User.Identity.IsAuthenticated)
{

    <div class="jumbotron">
        <h1 class="display-2">Bienvenido a Fast-ATM</h1>
        <h2 class="text">Descubre nuestros servicios en línea.</h2>
        <hr class="my-4">
        <h2 class="lead">Presiona el boton para acceder.</h2>
        <br />
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </p>

        <!--
        <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </p>
        -->


    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-2">Selecciona un serviico</h1>
        <h2 class="text">Descubre nuestros servicios en línea.</h2>
        <hr class="my-4">

        <br />
    </div>

}


